.delay-text {
    animation: 0.5s ease-out 1s 1 normal forwards running fadeIn;    

    opacity: 0;
}

#delay-splash{
    animation: 0.5s ease-out 0.5s 1 normal forwards running fadeIn;    

    opacity: 0;
    /* max-width: 500px; */
    /* min-width: 250px; */
    height: auto;

    /* padding-left: 0px !important; */
    /* padding-right: 0px !important; */
}

#myRole{
    color:grey;
}

@keyframes fadeIn {
    0% {
        opacity:0;
        /* transform: translate(-50px,0px); */
    }
    100% {
        opacity:1;
        /* visibility: visible; */
        /* transform: translate(0px,0px); */
    }
  }
