.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    /* width: 250px; */
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #1b2436;
    color: #fff;
    /* transition: all 0.3s; */
}

li {
    position: relative;
    
    padding-bottom: 10px;
    /* max-width: 100%; */
    /* vertical-align: middle; */
    /* border: 2px solid white; */
    /* box-sizing: border-box; */
    transition: opacity .2s;

}

li:hover {
    opacity: 0.5;
    cursor: pointer;
}

/* Bottom left text */
.text-image {
    color:#94a1b2;
    background-color: #010101;

    font-size: small;

    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -80%);
    pointer-events:none;
    width:100%;
    
  }