/* .wrapper {
    display: flex;
    width: 100%;
} */

.sidebar {
    margin: 0;
    padding: 4px;
    width: 200px;
    background: #1b2436;
    position: fixed;
    height: 100%;
    overflow:auto;
    overflow-x: hidden;

    /* animation-fill-mode: forwards;*/
    /* animation: fadeSlideIn 1s ease-out 1s;  */
    
    animation: 1s ease-out 1s 1 normal forwards running fadeSlideIn;    

    opacity: 0;
    /* pointer-events:none; */
    /* visibility: hidden; */
  }

  hr {
      color:white;
  }
  
  .s-item {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #fffffe;

    transition: all .25s ease-in-out;
    /* transition: opacity 0.8s; */
  }
   
  /* .sidebar p.active {
    background-color: #04AA6D;
    color: white;
  } */
  
  .s-item:hover:not(.active) {
    opacity: 0.5;
    cursor: pointer;
    transform: scale(1.1);
  }

  .active{
    opacity: 0.5;
    cursor: pointer;
    transform: scale(1.1);
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      height: auto;
      display: flex;
      width: 100%;
      justify-content: center;
      /* position: relative; //stays fixed*/
      /* overflow: auto; */
      overflow-y: hidden;
      overflow-x: auto;
    }
    .s-item {
        float: left; 
        padding: 1px;
    }
    .s-item:not(.i-item) ,hr {
        display: none;
    }
    .i-item{
        max-width:110px;
    }
    /* div.content {margin-left: 0;} */
  }
  
  /* @media screen and (max-width: 600px) {
    .i-item{
        max-width:150px;
        max-height:50px;
    }
  } */

.i-item{
  position: relative;
}

.i-item:hover .text-image{
  display: block;
}

.active .text-image{
  display: block;
}

.text-image {
    color:#94a1b2;
    background-color: #010101;
    font-size: small;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -80%);
    pointer-events:none;
    width:95%;

    display: none;
  }
  
  @keyframes fadeSlideIn {
    0% {
        opacity:0;
        transform: translate(-50px,0px);
    }
    100% {
        opacity:1;
        /* visibility: visible; */
        transform: translate(0px,0px);
    }
  }