/* .wrapper {
    display: flex;
    width: 100%;
} */

.sidebar {
    margin: 0;
    padding: 4px;
    width: 300px;
    background: #1b2436;
    position: fixed;
    height: 100%;
    overflow:auto;
    overflow-x: hidden;

    /* animation-fill-mode: forwards;*/
    /* animation: fadeSlideIn 1s ease-out 1s;  */
    
    animation: 1s ease-out 1s 1 normal forwards running fadeSlideIn;    

    opacity: 0;
    /* pointer-events:none; */
    /* visibility: hidden; */

    z-index: 99;
  }

  .text-image-selector{

    /* border: 3px solid rgb(17, 7, 46); */
    border-radius: 10px;
    background: linear-gradient(45deg, #2d2d35, #441d46);
    
    margin: auto;
    margin-top: 7px;
    margin-bottom: 4px;
    max-width: 210px;
    /* color:#b693934d; */
  }

  hr {
      color:white;
  }

  .bright-text {
    color:#fffffe;
  }
  
  .s-item {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #fffffe;

    transition: all .25s ease-in-out;
    /* transition: opacity 0.8s; */
  }
   
  /* .sidebar p.active {
    background-color: #04AA6D;
    color: white;
  } */
  
  .s-item:hover:not(.active) {
    /* opacity: 0.5; */
    cursor: pointer;
    transform: scale(1.1);
  }

  .active{
    opacity: 0.5;
    cursor: pointer;
    transform: scale(1.1);
  }

.i-item{
  position: relative;
}

.i-item:hover .text-image{
  display: block;
}

.active .text-image{
  display: block;
}

.header-css{
  bottom:0;
  color: rgb(114, 149, 184);
  padding: 5px;
  padding-top: 50px;
  /* width: 100%;*/
  height: calc(100vh - 700px);
  /* text-align: center;  */
  display: flex;
  /* justify-content: space-evenly; */
  /* align-items: flex-end;  */
  flex-direction: column-reverse;
  /* flex-flow: row wrap;  */
  /* background-color: rgba(227, 240, 255, 0.1); */
}

/* .my-image{
  padding-bottom: 20px;
} */

.text-image {
    /* color:#94a1b2; */
    background-color: #010101;
    font-size: small;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -80%);
    pointer-events:none;
    width:69%;

    display: none;
  }
  
  @keyframes fadeSlideIn {
    0% {
        opacity:0;
        transform: translate(-50px,0px);
    }
    100% {
        opacity:1;
        /* visibility: visible; */
        transform: translate(0px,0px);
    }
  }

  @media screen and (max-width: 1200px) {
    .sidebar{
      width:200px;
    }
    .text-image {
      width:100%;
    }
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      height: auto;
      display: flex;
      width: 100%;
      justify-content: center;
      /* position: relative; //stays fixed*/
      /* overflow: auto; */
      overflow-y: hidden;
      overflow-x: auto;
    }
    .s-item {
      float: left; 
      padding: 1px;
    }
    .s-item:not(.i-item) ,hr {
      display: none;
    }
    .i-item{
      max-width:110px;
    }
    .title-text{
      display: none;
    }
    .header-css{
      padding:5px;
      display: block;
    }
    /* .my-image{
      padding-bottom: 0px;
    } */
    /* div.content {margin-left: 0;} */
  }

  /* FONTS */

@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative'); 
@import url('https://fonts.googleapis.com/css?family=Cinzel'); 
@import url('https://fonts.googleapis.com/css?family=Kdam+Thmor+Pro'); 

.ascendance-font{
  font-family: "Cinzel",monospace;
}

.ascendance-font-big{
  font-family: "Cinzel Decorative",monospace;
}

.face-life-font{
  font-family: "Kdam Thmor Pro",monospace;
}

.about-me-link {
  text-decoration: none;
  color: #94a1b2;
}
